.btn{
    background: var(--clr-elements);
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: box-shadow 250ms ease-in-out;
    @include box-shadow(0.1);
    
    @media (max-width: 350px){
        font-size: 12px;
    }
}

.btn--back{
    display: flex;
    height: 50px;
    align-items: center;
    padding: 0 4rem;

    &:hover{
        @include box-shadow(0.25);
    }

    @media (max-width: 350px){
        padding: 0;
        width: 50%;
        justify-content: center;
    }
}

.btn--borders{
    display: inline-block;
    margin: 0.5rem 0.5rem 0 0;
    padding: 0.5rem 1rem;

    &:hover{
        @include box-shadow(0.25);
    }
}

.btn--search{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    background: var(--clr-elements);
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--clr-input);
    border-radius: 5px 0 0 5px;
}

#search:valid + .btn--search .fa-search{
    color: var(--clr-font);
    transform: scale(1.1);
}

